<div class="media">
  <div class="media-left mr-2">
    <a class="avatar avatar-online" href="javascript:void(0)">
      <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>
      <i></i>
    </a>
  </div>
  <div class="media-body">
    <%= simple_form_for(@tweeet) do |f| %>
      <%= f.error_notification %>
      <div class="">
        <div class="">
          <%= f.input :Tweeet, label: 'Tweeet about it', input_html: { class: 'form-control' }, placeholder: 'Compose a new tweeet' %>
        </div>
        <%= f.button :submit, class: 'btn btn-primary btn-sm pull-right waves-effect waves-light' %>
      </div>
    <% end %>
  </div>
</div>

